<% provide(:title, "TOP") %>

<div class="top-title">日報管理システム</div>



<div class="row">
  <div class="col-md-4">
    <h3>機械組立</h3>
    <div class="center">
      <%= image_tag 'Assembled.jpg', class: 'hoge' %>
    </div>
    <div class="top-content">
      <div style="padding-top: 5px;"></div>
      <h3 class="center">
        〜業務内容〜
      </h3>
      <h3 class="text-left">・設備/治具組立</h3>
      <h3 class="text-left">・販売製品組立</h3>
      <h3 class="text-left">・設備設計</h3>
      <h3 class="text-left">・図面作成 etc</h3>
    </div>
  </div>

  <div class="col-md-4">
    <h3>機械加工</h3>
    <div class="center">
      <%= image_tag 'processing.jpg', class: 'hoge' %>
    </div>
    <div class="top-content">
      <div style="padding-top: 5px;"></div>
      <h3 class="center">
        〜業務内容〜
      </h3>
      <h3 class="text-left">・部品製作</h3>
      <h3 class="text-left">・部品追加工</h3>
      <h3 class="text-left">・加工図面作成</h3>
      <h3 class="text-left">・部品測定 etc</h3>
    </div>
  </div>

  <div class="col-md-4">
    <h3>電気/電子</h3>
    <div class="center">
      <%= image_tag 'substrate.jpg', class: 'hoge' %>
    </div>
    <div class="top-content">
      <div style="padding-top: 5px;"></div>
      <h3 class="center">
        〜業務内容〜
      </h3>
      <h3 class="text-left">・電気配線</h3>
      <h3 class="text-left">・基板製作</h3>
      <h3 class="text-left">・動作プログラム製作</h3>
      <h3 class="text-left">・電気図面作成</h3>
    </div>
  </div>
</div>