<% provide(:title, "TOP") %>

<div class="center common-container">
  <div class="common-content">

    <h1>日報管理システム</h1>
    <p>日々の業務日報の入力</p>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>

  </div>
</div>