.btn-reception {
  vertical-align: middle;
  text-align: center;
  background-color: #f1f4f5;
}

#address {
  margin-top: 20px;
  margin-bottom: 20px;
}

.google-map-search {
  float: right;
  margin-bottom: 20px;
}

.simple-calendar .current-month {
  background: #fff;
}
