.top-container{
  background-image: image-url('Assembled.jpg');
  background-size: 100% auto;
  background-repeat:  no-repeat;
  height: 700px;
}

.top-content{
  padding-top: 60px;
  height: 700px;
  background-size: 100% auto;
  background: rgba(255,255,255,0.8);
}

