

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

.table-users {
  th {
    vertical-align: middle;
    text-align: center;
    width: 10%;
    background-color: #f1f4f5;
    }
  td {
    vertical-align: middle;
    text-align: center;
    width: 10%;
    background-color:     #f1f4f5;
    }
}

#table-users {
  th {
    vertical-align: middle;
    text-align: center;
    width: 10%;
    background-color: #aad4e2;
    }
  td {
    vertical-align: middle;
    text-align: center;
    width: 10%;
    background-color:     #f1f4f5;
    }
}

.position {
  font-size: 18px;
}
