<% provide(:title, "日報一覧") %>

<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h2>日報確認</h2>

    <%= month_calendar do |date| %>
    <%= date.day %>
    <% @attendances.each do |a| %>

    <% if date == a.worked_on && a.classification.present? %>
    <br>
    <%= link_to "確認", attendances_receipts_day_list_user_path(current_user, date: a.worked_on), class: "btn btn-sm btn-primary" %>
    <% break %>
    <% end %>



    <% end %>
    <% end %>


  </div>
</div>